@model CombatLink.Application.ViewModels.ChatViewModel
@{
    DateTime? lastDate = null;
}
<div class="chat-container">
    <div class="chat-header">
        <button id="backButton">←</button>
        <div class="user-info">
            <img src="/images/fighter1.png" alt="Avatar" class="avatar" />
            <div>
                <div class="username">Fighter 1</div>
                <div class="status">online</div>
            </div>
        </div>
    </div>

    <div id="chatBox" class="chat-box">
        @foreach (var msg in Model.Messages)
        {
            var isMine = msg.Sender?.Id == Model.UserId;
            var messageDate = msg.TimeSent.Date;

            if (lastDate != messageDate)
            {
                <div class="date-separator">@messageDate.ToString("dd.MM.yyyy")</div>
                lastDate = messageDate;
            }

            <div class="chat-message @(isMine ? "sent" : "received")">
                <div class="bubble">
                    @msg.MessageContent
                    <div class="message-meta">@msg.TimeSent.ToShortTimeString()</div>
                </div>
            </div>

        }
    </div>

    <div class="chat-input">
        <input type="text" id="messageInput" placeholder="Type here..." />
        <button class="propose-button" title="Propose Sparring Session">
            <img src="https://combatlinkblob.blob.core.windows.net/combatlink/propose_spar.png" alt="Propose" class="propose-icon" />
        </button>
        <button class="chatButton" id="sendButton">➤</button>
    </div>
    
    
    
</div>

<script>
    const matchId = @Model.MatchId;
    const currentUserId = @Model.UserId;
    console.log(matchId);
    console.log(currentUserId);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script type="module" src="~/js/ChatClient.js"></script>

